opencv-python==4.8.0.76
opencv-python-headless==4.8.1.78
openvino==2023.1.0
openvino-dev==2023.1.0
openvino-telemetry==2023.2.1
supervision==0.18.0
ultralytics==8.1.5
vidgear==0.3.2
yt-dlp==2023.10.13
python==3.11.6